<header class="header">
  <div class="header__right">
    <div class="profile">
      <div class="profile__info">
        <span class="profile__name">
           name
        </span>
      </div>
      <button class="profile__btn">
        <img src="/images/Profile.svg" width="35" height="30" alt="" />
      </button>
      <div class="profile__wrapper">
        <button class="logout-btn">
          Chiqish
          <img class="logout-img" src="/images/logout.svg" alt="logout" />
        </button>
      </div>
    </div>
  </div>
</header>