body{
  margin: 0;
  font-family: "Arial", serif;
  padding: 0;
}

.main-wrapper {
  display: flex;
  height: 100%;
}

.content-wrapper {
  flex-grow: 1;
  flex-direction: column;
  background-color: #f7f8fa;
}

.main-content-wrapper {
  padding: 20px;
}

/* hedaer css */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px 15px 0;
  background-color: #fff;
}

.profile {
  display: flex;
  align-items: center;
}

.profile__info {
  margin-right: 20px;
  text-align: right;
}

.profile__name {
  font-weight: 600;
  text-transform: capitalize;
  font-family: "Montserrat";
}

.profile__btn {
  border: 1px solid black;
  padding: 10px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.profile__wrapper {
  display: none;
  position: absolute;
  z-index: 1;
  width: 176px;
  top: 0;
  left: 0;
  background-color: #fff;
  border-radius: 3px;
}

.logout-btn {
  display: flex;
  align-items: center;
  padding: 5px 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 34px;
  color: #a5a5a5;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  border-radius: 15px;
  font-family: "Montserrat";
}

.logout-img {
  margin-left: 20px;
}

.profile__wrapper--blog {
  display: block;
}

.header__right {
  margin-left: auto;
}

/*sidebar css*/
.sidebar_logo {
  display: inline-block;
  margin-bottom: 30px;
}

.sidebar_logo-img {
  display: block;
}

.sidebar_list {
  width: 230px;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar_item {
  margin-bottom: 6px;
}

.first_icon {
  opacity: 0.8;
   margin-top: -5px;
}

.sidebar_link {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 15px;
  border-radius: 60px;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  color: #a5a5a5;
  text-decoration: none;
  background-color: #fff;
  border-radius: 60px;
  transition: color .2s ease,background-color .2s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Montserrat', sans-serif;
}

.sidebar_link-active {
  background-color: rgba(81,89,119,.1);
  color: #515977;
}

.sidebar_link:hover {
  background-color: rgba(81,89,119,.1);
  color: #515977;
}

.sidebar_link--active {
  background-color: rgba(81,89,119,.1);
  color: #515977;
}

.sidebar_icon {
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

.main-content-wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto 0;
  padding: 20px;
  background-color: #fff;
  border-radius: 3px;
}

.category__create-input {
  font-family: "Cairo","Arial",sans-serif;
  width: 150px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.category__create-input {
  margin-right: 10px;
  padding: 10px;
  background-color: #fff;
}

.category__create-btn {
  padding: 10px 20px;
  color: #fff;
  background-color: #4BB543;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.category__create-btn:hover{
  background-color: #2c8f24;
}

.sidebar-wrapper {
  max-width: 270px;
  width: 100%;
  height: 100vh;
  padding: 20px;
  background-color: #fff;
}

.category__create-form {
  margin-bottom: 20px;
}

.categories__table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 3px;
}

.categories__tbody-td,
.categories__thead-th {
  border: 1px solid #ddd;
  padding: 10px;
  font-weight: 600;
  text-align: center;
}

.categories__tbody-td {
  font-weight: 400;
}

.categories__delete-btn {
  text-align: center;
  padding: 8px;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  background-color: #f83b4a;
}

.categories__delete-btn:hover {
  background-color: #D11A2A;
}

.categories__edit-btn {
  text-align: center;
  padding: 8px;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  background-color: #20867e;
}

.categories__edit-btn:hover {
  background-color: #0b635b;
}

.categories__edit-succesiful {
  background-color: #0b1463;
}
.categories__edit-succesiful:hover {
  background-color: #070d47;
}

.parents-select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
  width: 150px;
  text-align: center;
}

.parrent-hading {
  text-align: center;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.input-wrapper input {
  width: 500px;
}

.section-parrents {
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  margin-bottom: 20px;
}

.parent-btn {
  width: 150px;
  letter-spacing: 1.5px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.parrents-ul {
  gap: 21px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.parrent-li {
  border: 1px solid #070d47;
  border-radius: 4px;
  background-color: rgb(240, 240, 240);
}

.parrent-li:hover {
  background-color: rgb(216, 212, 212);
}

.parent_active {
  background-color: rgb(216, 212, 212);
}

.parrent-li a {
  display: block;
  width: 70px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.class-select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
  background-color: #fff;
  text-align: center;
}

.school__create-form {
  margin-left: 90px;
  margin-right: 90px;
  margin-bottom: 20px;
}

.school__create-input {
  margin-right: 10px;
  padding: 10px;
  background-color: #fff;
  font-family: "Cairo","Arial",sans-serif;
  width: 400px!important;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.school__create-btn {
  padding: 10px 20px;
  color: #fff;
  background-color: #4BB543;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: block;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

.school__create-btn:hover{
  background-color: #2c8f24;
}

.schools_link {
  display: flex;
  align-items: center;
}

.schools_link span {
  display: block;
}

.text-wrapper {
  margin-bottom: 30px;
}

.upload-heading {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.upload-text {
  display: block;
  text-align: center;
  margin-top: -15px;
  /* margin-bottom: 20px; */
  color: rgb(80, 78, 78);
}

.upload-input {
  text-align: center;
  cursor: pointer;
  font-family: "Cairo","Arial",sans-serif;
  width: 350px;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.upload-btn {
  margin-top: 20px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}